@{
    ViewData["Title"] = "Home Page";
}

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Create a config File.</h1>
            <p>This is the website to create a config file with UI.</p>
            <p><a class="btn btn-primary btn-lg" href="/Home/Create" role="button">Create</a></p>
        </div>
    </div>

</main>
